// colors

$black: #000;
$blue: #3D3BFF;
$white: #fff;
$color-bg: #FAFBFE;

// fonts 

$Roboto: 'Roboto';
$RobotoSlab: 'Roboto Slab';
$OpenSans: 'Open Sans';

//grid 

$tablet: 768px;
$desktop: 1200px;



 





