// colors

$black: #000;
$blue: #3D3BFF;
$white: #fff;
$color-bg: #FAFBFE;

// fonts 

$Roboto: 'Roboto', Arial, Helvetica, sans-serif;
$RobotoSlab: 'Roboto Slab', Arial, Helvetica, sans-serif;
$OpenSans: 'Open Sans', Arial, Helvetica, sans-serif;

//grid 

$tablet: 768px;
$desktop: 1200px;



 





